* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Exo 2';
    src:url('assets/fonts/Exo2.woff2') format('woff2'),
        url('assets/fonts/Exo2.woff') format('woff'),
        url('assets/fonts/Exo2.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

:root{
    --width-menu: 220px;
}

:root[data-theme="light"] {
    --color-I: #abc;
    --text-color-I: #123;
    --text-color-II: #f90;
    --scroll-bar-color: #9ab;
    --scroll-bg-color: #cde;
    --body-bg-color: radial-gradient(80% 70% at 30% 20%, #fff 0%, #cde 100%) no-repeat fixed;
}

:root[data-theme="dark"] {
    --color-I: #040610;
    --text-color-I: #fff;
    --text-color-II: #09f;
    --scroll-bar-color: #0c1b29;
    --scroll-bg-color: #010c1c;
    --body-bg-color: radial-gradient(80% 70% at 30% 20%, #0f2030 0%, #000A1A 100%) no-repeat fixed;
}

::-webkit-scrollbar {
    background: var(--scroll-bg-color);
    width: 6px;
}
::-webkit-scrollbar-thumb {
    background: var(--scroll-bar-color);
    border-radius: 6px;
}
::-webkit-scrollbar-thumb:hover {
    background: var(--text-color-II);
}


/* . . . . . . . Propiedades generales . . . . . . . */

body {
    font-family: 'Exo 2', system-ui, sans-serif;
    width: 100%;
    height: 100vh;
    position: relative;
    font-size: 18px;
    color: var(--text-color-I);
    background: var(--body-bg-color);
    scroll-behavior: smooth;
}

body main {
    display: flex;
    flex-direction: row;
    height: 100%;
}

h2, h3 {
    font-weight: lighter;
}

a {
    color: var(--text-color-I);
    text-decoration: none;
    &:hover {
        color: var(--text-color-II);
        text-decoration: underline;
        cursor: pointer;
    }
    a::visited {
        color: var(--text-color-I);
    }
}



.gb-icon {
    width: 2em;
    color: var(--text-color-I);
    fill: var(--text-color-I);
    &:hover{
        color: var(--text-color-II);
        fill: var(--text-color-II);
    }
}

.gb-theme__toggle {
    .light {
        display: none;
    }
    .dark {
        display: block;
    }
    &:has( :checked ) {
        .light {
            display: block;
        }
        .dark {
            display: none;
        }
    }
    input[type="checkbox"] {
        display: none;
    }
}

.gb-menu__toggle label {
    .close {
        display: none;
    }
    .open {
        display: block;
    }
    &:has( :checked ) {
        .close {
            display: block;
        }
        .open {
            display: none;
        }
    }
    input[type="checkbox"] {
        display: none;
    }
}

/* . . . . . . . Web Layout View . . . . . . . */

/*.example1 {
    outline: dashed 4px #fff5;
    background-color: #ff000050;
}

.example2 {
    outline: dashed 4px #fff5;
    background-color: #ffff0050;
}

.example3 {
    outline: dashed 4px #fff5;
    background-color: #ff00ff50;
}*/

/* . . . . . . . Menu . . . . . . . */

header {
    display: inline-block;
    width: var(--width-menu);
    position: relative;

    transition-property: width;
    transition: .5s ease;
}

.gb-menu__toggle {
    padding: 1em;
    z-index: 1;
    position: fixed;
    top: 0;
    left: var(--width-menu);
    
    transition-property: left; 
    transition: .5s ease;
}

.gb-menu__content {
    width: var(--width-menu);
    padding: 1em 2em;
    height: 100vh;
    position: fixed;
    overflow-y: scroll;

    li {
        padding-bottom: 1em;
        list-style: none;
    }

    transition-property: width;
    transition: .5s ease;
}

header:has(:checked){
    width: 1em;
    .gb-menu__content {
        width: 0;
        padding-right: 0;
        padding-left: 0;
        opacity: 0;
    }
    .gb-menu__toggle {
        left: 0;
    }
    +section {
        width: 100%;
    }
}


/* . . . . . . . Contenido principal . . . . . . . */

main header+section {
    display: inline-block;
    width: calc(100% - var(--width-menu));
    transition-property: width;
    transition: .5s ease;
}

.gb-theme__toggle {
    position: absolute;
    padding: 1em;
    right: 0;
}

.gb-main__content {
    padding: 0 4em;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.gb-main__title {
    margin-top: 2em;
    text-align: center;
    h1 {
        margin: 12px 0;
        strong {
            color: var(--text-color-II);
        }
    }
}

/* . . . . . . . . Pie de Página . . . . . . . . */

footer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
footer a {
    display: flex;
    align-items: center;
}
