:root[data-theme="light"] {
    --color-txt: #123;
    --color-hvr: #f90;
    --color-sec: #abc;
    --color-scroll-bar: #9ab;
    --color-scroll-bkg: #cde;
    --color-bg: radial-gradient(80% 70% at 30% 20%, #fff 0%, #cde 100%) no-repeat fixed;
}

:root[data-theme="dark"] {
    --color-txt: #fff;
    --color-hvr: #09f;
    --color-sec: #000414;
    --color-scroll-bar: #0c1b29;
    --color-scroll-bkg: #010c1c;
    --color-bg: radial-gradient(80% 70% at 30% 20%, #0f2030 0%, #000A1A 100%) no-repeat fixed;
}


::-webkit-scrollbar-thumb {
    background: var(--color-scroll-bar);
    border-radius: 8px;
}
::-webkit-scrollbar-thumb:hover {
    background: var(--color-hvr);
    border-radius: 8px;
}
::-webkit-scrollbar {
    background: var(--color-scroll-bkg);
    width: 6px;
}

@font-face {
    font-family: 'Exo 2';
    src: url('assets/fonts/Exo2.woff2') format('woff2'),
    url('assets/fonts/Exo2.woff') format('woff'),
    url('assets/fonts/Exo2.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

* {
    scroll-behavior: smooth;
    font-family: 'Exo 2', system-ui, sans-serif;
    color: var(--color-txt);
}

.main-content {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.main-content article {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    background: var(--color-bg);
}

.main-content header{
    width: 500px;
    height: 95vh;
    overflow-y: visible;
    overflow-x: hidden;
    border-right: solid 1px #5675;
    position: relative;

    & nav{
        height: 100%;
        display: flex;
        flex-direction: column;
        padding-left: 10%;

        & li{
            list-style: none;
            padding: 1em 0;
        }
        & a{
            font-size: 18px;
            text-decoration: none;
            margin-bottom: 1em;
            white-space: nowrap;

            &:hover{
                color: var(--color-hvr);
                text-decoration:underline;
                cursor: pointer;
            }
        }
    }
}

.icon {
    width: 38px;
    &:hover path{
        color: var(--color-hvr);
        fill: var(--color-hvr);
    }
}

.g-logo{
    fill: var(--color-txt);
}

.btn-menu {
    position: absolute;
    top: 1em;
    right: 1em;
    cursor: pointer;

    & .bar-on{
        display: none;
    }

    & .bar-off{
        display: block;
    }
}

input[type="checkbox"]{
    display: none;
}

.main-content label{
    cursor: pointer;
}

header:has( :checked ){     /* Si tiene un elemento hijo con el atributo 'checked' aplicará los estilos */
    width: 112px;

    & .bar-on{
        display: block;
    }

    & .bar-off{
        display: none;
    }

    & ul {
        display: none;
    }
    & + section {
        margin-left: 10%;
    }
}

.main-content header, section, .bar-on, .bar-off {
    transition-property: display, margin, width;
    transition-duration: .4s;
}

.theme-toggle {
    position: absolute;
    top: 0;
    right: 0;
    padding: 1em 1em 0 0;
}

.theme-toggle {
    display: block;
    & .dark-mode{
        display: none;
    }
    & .light-mode{
        display: block;
    }
}

.theme-toggle:has( :checked ){
    display: block;
    & .dark-mode{
        display: block;
    }
    & .light-mode{
        display: none;
    }
}

.hero-content{
    padding: 2em 4em;
    margin-right: 10%;
    width: 100%;
    & section {
        display: flex;
        align-items: start;
        gap: 1em;
        margin-bottom: 4em;
    }
}

.router-outlet {
    max-height: 100%;
    max-width: 100%;
}

footer{
    height: 5vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-sec);
    padding: 0 1em;
    & a {   
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
        & svg {
            position: absolute;
            width: 20px;
            transform:translateX(-120%);
        }
    }
    & .pleca {
        margin: 0 6px;
    }
}