@import url("./global.style.css");

body {
    width: 100%;
    background-color: var(--primary-color);
    font-family: var(--exo-typeface);
    font-size: var(--size-1);
    color: var(--txt-color-1);

    position: relative;
    scroll-behavior: smooth;

    display: flex;
    flex-direction: row;
    min-height: 100vh;

    transition-property: background-color, color;
    transition: var(--trans-3);
}

svg {
    display: flex;
    padding: var(--space-025);
    width: var(--size-8);
    color: var(--txt-color-3);
    fill: var(--txt-color-3);
    border-radius: var(--radius-1);
    
    &:hover{
        color: var(--accent-color);
        fill: var(--accent-color);
    }
}

a {
    color: var(--txt-color-1);
}

header {
    display: inline-block;
    min-width: var(--sidebar-width);
    transition-property: width;
    transition: var(--trans-3);
}

header
[data-nav-menu] {
    display: flex;
    flex-direction: column;
    width: var(--sidebar-width);
    padding: var(--space-100);
    border-right: var(--solid-1) var(--edge-color-2);
    height: 100vh;
    position: fixed;
    overflow-y: auto;
    overflow-x: hidden;
    white-space: nowrap;
    text-overflow: clip;
    opacity: 1;
    z-index: 3;
    transition-property: width, padding, opacity;
    transition: var(--trans-3);
}

header
[data-nav-menu] > div {
    display: flex;
    align-items: center;
    width: max-content;
    margin: 0 0 var(--space-150) var(--space-075);
    
    svg {
        width: var(--size-6);
        fill: var(--txt-color-3);
    }
}

header
[data-nav-toggle] {
    padding: var(--space-100);
    position: fixed;
    left: var(--sidebar-width);
    top: 0;
    z-index: 1;
    transition-property: left;
    transition: var(--trans-3);
}

header:has(:checked) {
    min-width: 0;
    [data-nav-menu] {
        width: 0;
        padding-right: 0;
        padding-left: 0;
        opacity: 0;
    }
    [data-nav-toggle] {
        left: 0;
    }
}

header 
[data-nav-toggle] {
    .close {
        display: none;
    }
    .open {
        display: block;
    }
    &:has( :checked ) {
        .close {
            display: block;
        }
        .open {
            display: none;
        }
    }
}

[data-nav-toggle],
[data-theme-toggle] {
    input[type="checkbox"] {
        display: none;
    }
}

[data-theme-toggle] {
    position: absolute;
    padding: var(--space-100);
    right: 0;
    top: 0;
}

[data-theme-toggle] {
    .light {
        display: none;
    }
    .dark {
        display: block;
    }
    &:has( :checked ) {
        .light {
            display: block;
        }
        .dark {
            display: none;
        }
    }
}

main {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: var(--space-100);
}

[data-render-area] {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: var(--space-100) var(--space-400);
}

footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-inline: var(--space-150);
    p {
        color: var(--txt-color-2);
    }
}



.gb-icon__link {
    display: flex;
    align-items: center;
    color: var(--txt-color-2);
    svg {
        width: var(--size-6);
    }
    &:hover {
        &, svg {
            color: var(--accent-color);
            fill: var(--accent-color);
        }
    }
}

/*—————————— Responsive Web Design ——————————*/

@media (max-width: 900px) {

    header  {
        position: absolute;
    }

    [data-nav-menu] {
        background-color: var(--primary-color);
        box-shadow: var(--shadow-3);
    }

    .gb-icon__link svg {
        width: var(--size-5);
        height: var(--size-5);
    }
    
}

@media (max-width: 600px) {

    main {
        padding: var(--space-050);
    }
    
    [data-render-area] {
        padding: var(--space-200);
        padding-top: var(--space-050);
    }

    header [data-nav-toggle], [data-theme-toggle] {
        padding: var(--space-025);
    }

    footer {
        margin-inline: var(--space-050)
    }

}

@media (max-width: 400px) {

}