details{
    width: 100%;
    display: inline-block;
    outline: solid 1px #0004;
    &[open] summary{
        background-color: teal;
        color: #fff;
    }
    & summary {
        padding: 1em;
    }
    & span {
        display: inline-block;
        padding: 1em;
    }
}